.dark-theme-button {
    display: flex;
    gap: 0.2em;
    align-items: center;
    appearance: none;
    background: none;
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0 0.3em 0 0.1em;
    border: 1px solid rgb(var(--P-color-accent));
    border-radius: 0.5em;

    &:active {
        opacity: 0.5;
    }

    > .i-icon {
        width: 20px;
        height: 20px;
        background: currentColor;
    }

    > .i-label {
        display: grid;

        > * {
            grid-area: 1 / 1;
            transition: opacity 1s;
        }
        > .i-dark {
            opacity: 0;
        }
    }
    &.is-dark > .i-label {
        > .i-light {
            opacity: 0;
        }
        > .i-dark {
            opacity: 1;
        }
    }
}
